@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  font-family: "adelle-sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  margin:0;
}

input[type="text"], input[type="password"], textarea {
  background-color : #414042; 
  color: #FFFFFF;
  border-radius:5px;
  border:none;
  padding:0.2em;
  margin-bottom:0.1em;
}

.header {
  border-bottom: black 2px solid;
  position: static;
  width: 100%;
  overflow: visible;
  background-color: #161616;
  display:flex;
  flex-direction:row;
  align-items:center;
  padding:0.3em 0;
}

#topInfo {
  display:inline-block;
  order:1;
}

#themeAndTitle {
  display:flex;
  flex-direction:column;
}

#themeButtons {
  display:flex;
  justify-content:center;
}

h4 {
  color: #FFFFFF;
  display:inline-block;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0em;
  vertical-align:middle;
}

button {
  border: none;
  border-radius: 5px;
  color: #F3F3F3;
  font-size: 2em;
  position: relative;
}

button:focus {
  outline:none;
}

button::-moz-focus-inner {
  border: 0;
}

.regular {
  background-color: #C34C21;
  display: inline-block;
  box-shadow: 0 0.1em 0 0 #A13F1B;
}

.disabled {
  background-color: #414042;
  display: inline-block;
  box-shadow: 0 0.1em 0 0 #282829;
}

.toggle {
  background-color: #414042;
  width:100%;
  line-height: 1.7em;
}

.theme {
  background-color: #414042;
  border-radius: 2px;
  font-size:1.5em;
  margin-right:0.025em;
  padding:0.1em;
}

.regular:active, .disabled:active, .toggle:active, .theme:active {
  background-color: #BA491F;
}

.regular:active, .disabled:active {
  box-shadow: 0 0.1em 0 0 #A13F1B;
}

.exBox:active {
  background-color: #C65053;
  box-shadow: 0 0.1em 0 0 #AD4649;
}

button.current {
  background-color: #E09F75;
}

button.down, button.activeGlobal {
  background-color: #C34C21;
}

button.activeGlobal {
	box-shadow: 0 0.1em 0 0 #A13F1B;
}

.activeGlobal:active {
  box-shadow: 0 0.1em 0 0 #A13F1B;
}

.auth {
  width: 5em;
  height: 1em;
  font-size: 1.1em;
  margin-bottom: 0.2em;

}

#login {
  vertical-align:middle;
  margin-left:1rem;
  line-height: 1.7em;
  padding: 0 1rem;
}

#toAuditor {
  vertical-align:middle;
  line-height:1.7em;
  padding: 0 1rem;
}

#credentials {
  display:inline-block;
  vertical-align:middle;
  order:2;
}

#go {
  vertical-align:middle;
  order:3;
  line-height: 1.7em;
  padding: 0 1rem;
}

#forgot {
	vertical-align:middle;
  order:4;
  line-height: 1.7em;
  padding: 0 1rem;
}

#submit {
  vertical-align:middle;
  order:4;
  line-height: 1.7em;
  padding: 0 1rem;
}

#restart {
  vertical-align:middle;
  order:3;
  line-height: 1.7em;
  padding: 0 1rem;
}

#spinContainer {
  vertical-align:middle;
  order:10;
  padding-left:1rem;
}

.spinner {
  border: 0.5em solid #cccccc;
  border-bottom: 0.5em solid #3498db; /* blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#logoContainer {
  display: inline-block;
  flex-grow:1;
  padding-right:0.2em;
  order:99;
}

#logo {
  float:right;
}

#main {
  padding:1.5em 1.5em;
  background: url(../img/pattern-dark.bmp) repeat 0 0;
}

#itemBox{
  position:relative;
  border: black 2px solid;
  background-color: #161616;
  padding: 0.5em 1em;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.item, #flowStart{
  border: black 1px solid;
  background-color: #1D1D1D;
  width:100%;
  padding: 0.5em;
  margin-bottom:0.25em;
  display:flex;
  flex-direction:row;
  align-items:center;
  position:relative;
}

#flowStart {
  justify-content:center;
}

#new, #existing {
  vertical-align:middle;
  line-height: 1.7em;
  padding: 0 1rem;
}

#flowStartSpacer {
  width: 10rem;
}

.itemSerial, .itemNote, .itemKeyword {
  width:8.2em;
  height:2.2rem;
  font-size:40px;
}

.globalOn {
	padding:0.1em 0.3em;
	margin-left: 0.5em;
	margin-right:0.2em;
}

.exBox {
  order: 0;
  text-align:center;
  padding: 0.1em 0.3em;
  margin-right:0.2em;
}

.itemInputContainer {
  order:1;

  display:flex;
  flex-direction:column;
}

.growSpacer {
  flex-grow:1;
}

.itemInfo {
  order:2;
  margin-left:0.7rem;
  margin-right:0.7rem;
  font-size:45px;
  flex-grow:1;

  display:flex;
  flex-direction:column;
}

.itemInfoTop {
  margin-bottom: 0.5em;
}

.statusContainerOuter {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  flex-grow:0;
  order:3;
}

.statusContainerInner {
  order:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance:none;
  margin:0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.ui-dialog-titlebar-close {
  display:none;
}

ul {
  margin:0;
  padding:0;
}

li {
  list-style-type: none;
  line-height:2em;
  cursor: default;
  -moz-user-select:none;
  -webkit-user-select:none;
}

li:active {
  background-color:#aaaaaa;
}

footer {
  padding: 40px 0;
  background: #161616;
}